<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--<Manage Suite Path and Data Sheet Path and >-->
    <add key="FrameWorkPath" value="C:\Selenium\DotNetWorkSpace\CSharp_Selenium_NUnit-Automation_Framework\TimeLiveRegression"/>
    <add key="ResultsFolderPath" value="C:\Selenium\DotNetWorkSpace\CSharp_Selenium_NUnit-Automation_Framework\TimeLiveRegression\org.com.reports"/>
    <add key="DataFolderPath" value="C:\Selenium\DotNetWorkSpace\CSharp_Selenium_NUnit-Automation_Framework\TimeLiveRegression\org.com.data"/>
    <add key="DataFileName" value="Data"/>
    <!--<add key="Browsers" value="ie,chrome,firefox"/>-->
    <add key="Browsers" value="chrome"/>
    <!--<add key="Browsers" value="REMOTE, LOCAL"/>-->
    <add key="ExecutionType" value="LOCAL"/>
    <!--<add key="Browsers" value="VM, Docker"/>-->
    <add key="RemoteType" value="VM"/>
    <!--<add key="Browsers" value="VM, Docker"/>-->
    <add key="RemoteURL" value="http://10.147.224.158:4444/wd/hub"/>
    <!--< mention how many threads are going to run"/>-->
    <add key="ThreadCount" value="2"/>
    <!--< mention true or false"/>-->
    <add key="HighlightElements" value="true"/>
    
    <!--<add key="Region" value="QA, INT, UAT"/>-->
    <add key="Region"  value="UAT"/>
    <add key="QA" value="http://adactin.com/HotelApp/index.php"/>
    <add key="INT" value=""/>
    <add key="UAT" value="http://adactin.com/HotelApp/index.php"/>
    <!--<Manage Sned Mail>-->
    <add key="Release" value="Release1.1"/>
    <add key="SendMail" value="NO"/>
    <add key="MailCC" value="krishna.manubolu@capgemini.com"/>
    <add key="MailTo" value="krishna.manubolu@capgemini.com"/>
    <!--<Manage HTML Report>-->
    <add key="CaptureScreenShotforPass" value="NO"/>
    <add key="CaptureScreenShotforFail" value="YES"/>
    <add key="CaptureScreenShotforWarning" value="YES"/>
    <!--<Manage Sync Time>-->
    <add key="ShortSyncTime" value="20"/>
    <add key="MediumsyncTime" value="60"/>
    <add key="LongSyncTime" value="90"/>
    <add key="VeryLongSyncTime" value="120"/>
  </appSettings>

</configuration>




